layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane size="60%"
        pane split_direction="horizontal" size="40%" {
            pane
            pane
        }
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
